/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.Navbar {
  background-color: #aa00e6;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto";
  font-size: large;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}

.Navbar .Left {
  flex: 10%;
  background-color: #aa00e6;
  justify-content: left;
}

.Navbar .Center {
  flex: 70%;
  color: black;
}

.Navbar .Center .pageLinks {
  max-height: 80px;
  justify-content: left;
}

.Navbar .Center .pageLinks a {
  color: black;
  font-size: 25 px;
  margin: 10px;
  justify-content: left;
}

.Navbar .Search {
  flex: 17.5%;
  color: black;
  justify-content: left;
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}

.Navbar .account {
  flex: 2%;
  color: black;
  justify-content: left;
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}

.comingSoon {
  display: flex;
  justify-content: center;
}

.icons {
  height: 20px;
  width: 20px;
}

.iconLarge {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.iconSmall {
  height: 10px;
  width: 10px;
}
a {
  display: inline-block;
}
a:hover, button:hover {
  transform: scale(1.1);
}
input {
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: large;
  padding-left: 10px;
}

@media only screen and (max-width: 700px) {
  .Navbar .Center .pageLinks a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .Navbar .Center .pageLinks a {
    font-size: 10px;
  }
}
